
$primary-color-50: #fde6e5;
$primary-color-100: #f9c1bf;
$primary-color-200: #f59894;
$primary-color-300: #f16f69;
$primary-color-400: #ee5048;
$primary-color-500: #eb3128; /* Main color */
$primary-color-600: #e92c24;
$primary-color-700: #e5251e;
$primary-color-800: #e21f18;
$primary-color-900: #dd130f;
$primary-color-A100: #ffffff;
$primary-color-A200: #ffd7d6;
$primary-color-A400: #ffa5a3;
$primary-color-A700: #ff8b8a;
$primary-color-contrast: #ffffff;

:export {
    primaryColor50: $primary-color-50;
    primaryColor100: $primary-color-100;
    primaryColor200: $primary-color-200;
    primaryColor300: $primary-color-300;
    primaryColor400: $primary-color-400;
    primaryColor500: $primary-color-500;
    primaryColor600: $primary-color-600;
    primaryColor700: $primary-color-700;
    primaryColor800: $primary-color-800;
    primaryColor900: $primary-color-900;
    primaryColorA100: $primary-color-A100;
    primaryColorA200: $primary-color-A200;
    primaryColorA400: $primary-color-A400;
    primaryColorA700: $primary-color-A700;
    primaryColorContrast: $primary-color-contrast;
}