@font-face {
	font-family: "LindaleIcons";
	src: url("LindaleIcons.eot?69cf664a27b08caf053f4f79e958bf8a?#iefix") format("embedded-opentype"),
url("LindaleIcons.woff?69cf664a27b08caf053f4f79e958bf8a") format("woff"),
url("LindaleIcons.woff2?69cf664a27b08caf053f4f79e958bf8a") format("woff2"),
url("LindaleIcons.ttf?69cf664a27b08caf053f4f79e958bf8a") format("truetype"),
url("LindaleIcons.svg?69cf664a27b08caf053f4f79e958bf8a#LindaleIcons") format("svg");
}

.l-icon {
	line-height: 1;
}

.l-icon:before {
	font-family: LindaleIcons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.l-icon-brush-plus:before {
	content: "\f101";
}
.l-icon-cube-plus:before {
	content: "\f102";
}
.l-icon-curve:before {
	content: "\f103";
}
.l-icon-curve-exp:before {
	content: "\f104";
}
.l-icon-curve-plus:before {
	content: "\f105";
}
.l-icon-distribution:before {
	content: "\f106";
}
.l-icon-empty-plus:before {
	content: "\f107";
}
.l-icon-eyedropper:before {
	content: "\f108";
}
.l-icon-eyedropper-plus:before {
	content: "\f109";
}
.l-icon-gears:before {
	content: "\f10a";
}
.l-icon-image-plus:before {
	content: "\f10b";
}
.l-icon-list-plus:before {
	content: "\f10c";
}
.l-icon-marker-multiple-plus:before {
	content: "\f10d";
}
.l-icon-mask-curve:before {
	content: "\f10e";
}
.l-icon-mask-curve-plus:before {
	content: "\f10f";
}
.l-icon-mask-exclusive:before {
	content: "\f110";
}
.l-icon-mask-inclusive:before {
	content: "\f111";
}
.l-icon-material:before {
	content: "\f112";
}
.l-icon-random-transforms:before {
	content: "\f113";
}
.l-icon-surface:before {
	content: "\f114";
}
.l-icon-surface-plus:before {
	content: "\f115";
}
.l-icon-teapot:before {
	content: "\f116";
}
.l-icon-zoom-extents:before {
	content: "\f117";
}
