
.asset-card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 16px 20px 0 0;

    &.folder {
        height: 50px;
    }

    .asset-card-button {
        height: 100%;
        width: 100%;
        display: inline-block;

        .image {
            height: 150px;
            width: 100%;
            background-color: rgb(240, 240, 240);
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        .title {
            height: 50px;
            width: 100%;
            padding: 0 16px;
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.72);
            font-size: 13px;
            font-weight: 500;

            .title-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .title-icon {
                margin-right: 16px;
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }
}
