
.asset-card {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 16px 16px 0;
    cursor: pointer;

    &.folder {
        height: 50px;
    }

    .image {
        display: block;
        height: 0;
        padding-top: 75%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(240, 240, 240);
        position: relative;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .title {
        height: 50px;
        width: 100%;
        padding: 0 16px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.72);
        font-size: 13px;
        font-weight: 500;

        .title-text {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title-icon {
            margin-right: 12px;
            color: rgba(0, 0, 0, 0.54);
        }

        .title-menu {
            margin-right: -8px;
        }
    }

    .select {
        display: none;
        position: absolute;
        top: 12px;
        left: 12px;

        &.selected {
            display: block;

            .select-background {
                background: #fff;
            }
        }

        .select-background {
            background: rgba(0,0,0,0.2);
            border-radius: 50%;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 4px;
            left: 4px;
        }
    }

    &:hover .select {
        display: block;
    }
}
