.icon-button {
    padding: 0 !important;
    text-align: center;

    &.small {
        height: 16px;
        width: 16px;
        line-height: 16px;

        i {
            font-size: 16px;
            width: 16px;
        }
    }

    &.medium {
        height: 22px;
        width: 22px;
        line-height: 22px;

        i {
            font-size: 22px;
            width: 22px;
        }
    }

    i {
        overflow: hidden;
        color: #999;
        cursor:pointer;

        &:hover {
            color: #444;
        }
    }
}

.pick_button.active_pick {
  background: #f4dfde;
  color: #d11a11;
}

.pick_button.active_pick i {
    color: #d11a11;
}
