.mdi-18px, .l-icon-18px{
    line-height: 18px;
    font-size: 18px;
}

.mdi-24px, .l-icon-24px{
    line-height: 24px;
    font-size: 24px;
}

.mdi-36px, .l-icon-36px{
    line-height: 36px;
    font-size: 36px;
}

.mdi-48px, .l-icon-48px{
    line-height: 48px;
    font-size: 48px;
}