@import '../common';

.number-field {

    .number-field-handle {
        width: 1rem !important;
        height: 1rem !important;
        border: 1px solid $primary-color-light;
        border-radius: 50%;
        cursor: e-resize;

        &:hover {
            background: $primary-color-light;
        }

        &.active {
            background: $primary-color-light;
        }
    }
}