@import '../../styles/common';

.number-field {

    .number-field-handle {
        width: 1rem !important;
        height: 1rem !important;
        border: 1px solid $light-color;
        border-radius: 50%;
        cursor: e-resize;

        &:hover {
            background: $light-color;
        }

        &.active {
            background: $main-color;
        }
    }
}