.parameter-element {
    height: 24px;

    &.switch-element, &.checkbox-element, &.number-element {
        cursor: pointer;
    }

    .parameter-element-action.right {
        text-align: right;
    }
}
