.parameter-element {
    height: 24px;

    &.switch-element, &.checkbox-element, &.number-element {
        cursor: pointer;
    }

    .parameter-element-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .parameter-element-action.right {
        text-align: right;
    }

    .parameter-element-action.center {
        text-align: center;
    }
}
