@import '../common';

.slider {
    display: flex;
    flex: 1;
    align-items: center;

    .slider-start-label, .slider-end-label {
        font-size: 0.6875rem;
        font-style: italic;
    }

    .rc-slider-disabled {
        background-color: initial;
    }

    .rc-slider-rail {
        height: 2px;
        background-color: #bbb;
    }
    &.disabled .rc-slider-rail{
        background-color: #ccc;
    }
    &.reverse .rc-slider-rail{
        background-color: $primary-color-500;
    }
    &.reverse.disabled .rc-slider-rail{
        background-color: #aaa;
    }

    .rc-slider-track {
        height: 2px;
        background-color: $primary-color-500;
    }
    &.disabled .rc-slider-track{
        background-color: #aaa;
    }
    &.reverse .rc-slider-track{
        background-color: #bbb;
    }
    &.reverse.disabled .rc-slider-track{
        background-color: #ccc;
    }

    .rc-slider-handle {
        // Also check Slider.jsx for handle styling when slider value == min
        height: 12px;
        width: 12px;
        background-color: $primary-color-500;

        &, &:focus, &:active {
            border: 0;
            box-shadow: none;
            cursor: default;
        }
    }
    &.disabled .rc-slider-handle{
        background-color: #ccc;
    }

    .slider-start-label, .slider-end-label {
        font-size: 0.6875rem;
        font-style: italic;
    }

    .slider-start-label {
        margin-right: 10px;
    }

    .slider-end-label {
        margin-left: 10px;
    }
}