.toggleable-group {
    margin: 0;

    .toggleable-group-header {
        &:hover {
            background: #fafafa;
        }
    }

    .toggleable-group-body {
        padding: 0.25rem 1rem;
        color: #333;
    }
}
